body{
	background-color: whitesmoke;
	margin: auto 0;
}

.container {
	width: 1120px;
	margin: 0 auto;
}

.header{
	display: flex;
	justify-content: space-between;
}

.logo{
	padding-top: 3%;
	padding-left: 8%;	
}

.search{ 
	height: 25px;
	margin-top: 4.5%;
	margin-right: 4%;
	width: 180px;
}

a {
	text-decoration: none;
	color: black;
}

.nav li {
	display: block;
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	padding-left: 10%;
}

.welcomeText{
	width: 30%;
	padding-left: 13%;
	padding-top: 18px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
}

.foto2{
	padding-right: 10%;
	padding-top: 11px;
}

.foto{
	padding-right: 10%;
	padding-top: 11px;
}

.box{
	margin-left: 7.5%;
	margin-top: 5%;
	background-color: aquamarine;
	width: 25%;
	padding:10px 15px;
	border-radius: 15px;
}

.title {
	color: #fff;
}

.text{
	color: #fff;

}

.btn {
	display: flex;
	justify-content: end;
}

.btn_learn_more{
	background-color: darkcyan;
	border-radius: 15px;
	width: 20%;
}

.info{
	display: flex;
	justify-content: space-between;
	margin-left: 7.5%;
	margin-top: 5%;
}

.textInfo{
	margin-top: -15px;
	font-size: 13px;
	width: 150px;
	right: 12px;
}

.leftInfo {
	width: 250px;
}

.rightFotoInfo{
	margin-left: 10%;
}

footer{
	padding: 0.5px 0;
	width: 100%;
	background-color: gray;
}

.fotoOrange{
	width: 85px;
}

.underFoto{
	margin-top: -5px;
	font-size: 13px;
	margin-left: 12px;
}

.underFoto2{
	font-size: 13px;
	margin-left: 12px;
}

.textUnderFoto{
	background-color: lightgray;
}

.textUnderFoto2{
	width: 90px;
	margin-top: -10px;
	font-size: 13px;
	background-color: lightgray;
}

.centerInfo{
	width: 370px;
	margin-left: 50px;
}

.clas{
	color: darkcyan;
	font-style: italic;
}

.texts2{
	padding-top: 20px;
	padding-left: 20px;
	font-size: 13px;
}

.orangen{
	width: 250px;
	margin-top: 20px;
	margin-left: 80px;
}

.secondText2{
	border-radius: 13px;
	font-size: 13px;
	margin-top: 40px;
	margin-left: 80px;
}



/* About Us */

.WhoWeAre{
	margin-left: 85px;
}

.chair{
	width: 150px;
	height: 150px;
}

.span {
	font-style: italic;
	color: darkcyan;
}

.chairFoto{
	display: flex;
	justify-content: space-between;
	width: 650px;
	padding-top: 10px;
	padding-left: 90px;
}

.textofAboutUs{
	margin-left: 30px;
	margin-top: -5px;
}

.OurServices{
	padding-left: 90px;
	width: 650px;
}

.textUnderLeftContent{
	display: flex;
	justify-content: space-between;
}

.texts{
	font-size: 13px;
	padding-left: 100px;
}

.secondText{
	font-size: 13px;
}

.under{
	color: darkcyan;
}

.btn2{
	display: flex;
	justify-content: end;
	margin-bottom: 15px;
}

.wrapper2{
	display: flex;
}

.ourNews{
	padding-top: 20px;
	padding-left: 80px;
}

.ourNewstitle{
	display: flex;
	justify-content: space-between;
	width: 300px;
}

.textsOurNews{
	color: darkcyan;
	margin-top: -5px;
	margin-left: 15px;
}

.ourNewsUndertitle{
	display: flex;
	justify-content: space-between;
	height: 100px;
	margin-top: 60px;
	width: 300px;
}

.threeOrangen{
	height: 85px;
}

.underTextsOurNews{
	margin-left: 15px;
	margin-top: -6px;
	color: darkcyan;
}

.titelTestimonials{
	padding-top: 10px;
}

.qwerty{
	font-style: italic;
}

.asd{
	color: darkcyan;
}



/* Lastest News */

.line{
	margin-left: 90px;
	border: 2px solid grey;
	margin-top: 50px;
	width: 580px;
	background: grey;
}

.date{
	margin-left: 90px;
	font-size: 14px;
}

.recrol{
	color: darkcyan;
	font-weight: 600;
}

.titleSed{
	margin-left: 90px;
	font-weight: 500;
}

.line2{
	margin-left: 90px;
	margin-top: -5px;
}

.foto{
	margin-left: 90px;
	background-color: #fff;
	border-radius: 2px;
}

.stairs{
	width: 550px;
	padding-left: 15px;
	padding-bottom: 5px;
}

.textOfStairs{
	margin-left: 90px;
	width: 580px;
}

.silca{
	font-weight: 600;
	color: darkcyan;
}


footer{
	margin-top: 50px;
}



/* Portfolio */

.wrapper3{
	display: flex;
}

.righttitle{
	margin-left: 60px;
	margin-top: 60px;
}

.under2{
	color: darkcyan;
	margin-left: 60px;
}

.rightFotoOfOrange{
	display: flex;
	width: 350px;
}

.fotoOfOrange{
	margin-left: 60px;
}

.rightTextOfOrange{
	margin-left: 20px;	
	margin-top: -20px;
}

.t{
	color: darkcyan;
}

.rightP{
	display: flex;
	margin-top: 50px;
}

.zxc{
	margin-left: 60px;
	font-style: italic;
}

.chica{
	margin-top: 20px;
	margin-left: 60px;
	font-weight: 600;
}

.qa{
	color: darkcyan;
}


.titleOfPortfolio{
	margin-left: 90px;
	margin-top: 60px;
	font-weight: 550;
}

.textOfPrtfolio{
	margin-left: 90px;
	width: 900px;
}

.gallary{
	display: flex;
	margin-top: 70px;
	margin-left: 70px;
}

.pic1{
	margin-left: 50px;
	position: absolute;
}

.textTextAbovThePic1{
	position: relative;
	margin-top: -70px;
	padding-left: 30px;
	padding-top: 10px;
	color: #fff;
}

.blocks{
	position: relative;
	height: 40px;
	width: 120px;
	color: black;
	background-color: black;
}

.pic2{
	margin-left: 370px;
	position: absolute;
}

.pic3{
	margin-left: 690px;
}

.gallary2{
	display: flex;
	margin-top: 70px;
	margin-left: 70px;
}

.fot{
	margin-top: 100px;
}



/* contact */

.leftBox{
	width: 550px;
}

.divAndSpan{
	margin-left: 90px;
}

.map{
	margin-left: 90px;
}

.hh{
	margin-top: 15px;
	margin-left: 90px;
}

.littleText{
	width: 200px;
	margin-left: 90px;
}

.contact{
	margin-top: 30px;
	margin-left: 90px;
}

.contact1{
	margin-left: 90px;
}

.pp{
	margin-left: 50px;
	margin-top: 100px;
}

.in{
	margin-top: 10px;
	margin-left: 50px;
}

.in__input{
	width: 400px;
	height: 25px;
}

.pp2{
	margin-left: 50px;
	margin-top: 20px;
}

.in__input2{
	width: 400px;
	height: 200px;
}

.btns{
	display: flex;
	margin-top: 20px;
	margin-left: 50px;
}


.btn4{
	margin-left: 307px;
}